@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #212121;
    
}

.bg-x {
    background-color: #00aaff1e;
}

div.content {
    text-align: center;
}

div.text {
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    padding: 1px;
}

h1,h2{
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h3,h4 {
    color: #fff;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

hr {
    margin: 10px -20px 20px;
    border: 0;
    border-top: 2px solid #00ABFF;
}

div.social {
    text-align: center;
}

.xda:hover path {
    fill: #f59812;
    transition: 0.3s;
}
.xda:active path {
    fill: #f59812
}
.github:hover path {
    fill: #6e5494;
    transition: 0.3s;
}
.github:active path {
    fill: #6e5494
}
.gitlab:hover path {
    fill: #E24329;
    transition: 0.3s;
}
.gitlab:active path {
    fill: #E24329
}
.paypal:hover path {
    fill: #009BE1;
    transition: 0.3s;
}
.paypal:active path {
    fill: #009BE1
}
.telegram:hover path {
    fill: #26AAE7;
    transition: 0.3s;
}
.telegram:active path {
    fill: #26AAE7
}

.logo {
    height: 32px;
    display: inline-block;
}

.cp {
    font-weight: bolder;
    pointer-events: none;
    color:#26e7b7
}