
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

body {
  background-color: #3c3c3d;
  font-family: 'Assistant', sans-serif;
}

.social {
}

.copy {
  font-size: 14pt;
}

.holo {
    border: 1px solid #33b5e5;
}

.mt {
  text-align: center;
  color: #fff;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


.xda:hover path {
    fill: #f59812;
    transition: 0.3s;
}
.xda:active path {
    fill: #f59812
}
.github:hover path {
    fill: #6e5494;
    transition: 0.3s;
}
.github:active path {
    fill: #6e5494
}
.gitlab:hover path {
    fill: #E24329;
    transition: 0.3s;
}
.gitlab:active path {
    fill: #E24329
}
.paypal:hover path {
    fill: #009BE1;
    transition: 0.3s;
}
.paypal:active path {
    fill: #009BE1
}
.telegram:hover path {
    fill: #26AAE7;
    transition: 0.3s;
}
.telegram:active path {
    fill: #26AAE7
}
