
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

body {
  background-color: #3c3c3d;
  font-family: 'Assistant', sans-serif;
}

.social {
}

.copy {
  font-size: 14pt;
}

.holo {
    border: 1px solid #33b5e5;
}

.mt {
  text-align: center;
}
